<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BannerImage" value="Default"/>
    <add key="LogoImage" value="Resources\DBA.jpg"/>
    <add key="EULA" value=""/>
    <add key="Require" value="MOSS"/>
    <add key="MinSharePointVersion" value="15.0.0.0"/>
    <add key="MaxSharePointVersion" value=""/>
    <add key="Vendor" value="http://dotcom.kiev.ua"/>

    <add key="SolutionId" value="5b1cc5da-5499-423b-97c8-0b6adf0b8e10"/>
    <add key="SolutionFile" value="Resources\PPR.Taksomotor.NewsWebPart.wsp"/>
    <add key="SolutionTitle" value="PPR Taksomotor Новостная веб-часть"/>
    <add key="SolutionVersion" value="1.0.0.0"/>

    <add key="UpgradeDescription" value="Upgrades {SolutionTitle} on all frontend web servers in the SharePoint farm."/>
    <add key="RequireDeploymentToCentralAdminWebApplication" value="true"/>
    <add key="RequireDeploymentToAllContentWebApplications" value="false"/>
      <!-- DefaultDeployToSRP: Whether box for Shared Resource Provider web app is initially checked
            if user is prompted for web applications to target -->
    <add key="DefaultDeployToSRP" value="false"/>
    <add key="DefaultDeployToAdminWebApplications" value="false"/>
    <add key="DefaultDeployToContentWebApplications" value="false"/>
      <!-- PromptForWebApplications: To force user prompt for web application; 
           useful if a dll is included, so SafeControl entries needed, 
           but feature not at webapp level -->
    <add key="PromptForWebApplications" value="false"/>
  </appSettings>
</configuration>
